.App {
 text-align: center;
}

.card {
  width: 55%;
  margin: 40px auto;
  background-color: #E8E8E8;
}

.card img {
  width: 100%;
  max-height: 80vh;
}

.modal-dialog {
  max-width: 100vw;
}

.col-md-8 {
  padding: 0;
}
